.btn:hover {
    transform: translateY(-20px);


   }
   
   .btn {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
    position: relative; 
   }
   
   .btn:hover {
    opacity: 0.6; 
   }
   
   .btn::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 90px;
    width: 25%;
    opacity: 0;
    height: 2px; 
    background-color: white; 
    transition: opacity 0.3s ease-in-out; 
   }
    
    .btn:hover::after {
    opacity: 1
   }
   