.swiper-slide__dscr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A1A6B4;
  }
  
  .swiper-slide__img {
    margin-bottom: 30px;
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 255px;
  }
  
  .swiper-slide__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  
  .swiper-button-prev {
    position: absolute;
    left: 0px;
    top: 140px;
    margin-left: 20px;
  }
  
  .swiper-button-next {
    position: absolute;
    right: 0px;
    margin-right: 20px;
    top: 140px;
  }
  
  .swiper-container {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: '';
  }
  
  :root {
    --swiper-navigation-size: 0;
  }
  
  .swiper-container {
    margin-bottom: 30px;
  }
  
  .mySwiper {
    position: relative; /* Установите позиционирование для Swiper */
    margin-left: 120px;
    margin-right: 120px;
    max-width: calc(100% - 240px);
  }
  
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: white;
    overflow: visible;
  }
  
  .mySwiper .swiper-button-next {
    right: -20px; /* Позиционирование стрелки "Вперед" */
  }
  
  .mySwiper .swiper-button-prev {
    left: 20px; /* Позиционирование стрелки "Назад" */
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent rgba(0, 0, 0, 0.489) transparent; /* Измените цвет стрелок */
    transform: rotate(90deg);
  }
  
  .swiper-button-prev::after {
    transform: rotate(-90deg); /* Измените направление стрелки "Назад" */
  }
  