 .swiper-button-next, 
 .swiper-button-prev {
  position: absolute;
  z-index: 100;

  transform: translateY(-40%);
  z-index: 10; 
  background: transparent; 
  border: none;       
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: white;    
  position: absolute;
  overflow: visible;
}
.swiper-button-next{
    left: 90%;
}

.swiper-button-prev{
    left: 8%;
}



.swiper-container{
    position: relative;
}
.mySwiper {
    position: static;
    margin-left: 160px;
    margin-right: 160px;
    max-width: calc(100% - 320px);
   }
   



.swiper-button-next::after, 
.swiper-button-prev::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 15px;
  border-color: transparent transparent rgba(0, 0, 0, 0.489) transparent; /* Измените цвет стрелок */
  transform: rotate(90deg);

}

.swiper-button-prev::after {    
  transform: rotate(-90deg); /* Измените направление стрелки "Назад" */
}